
@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        /* bottom: 30px; */
        top: 100%;
        margin-bottom: 36px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img {
        height: 250px;
    }

    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    #page-create-point div.items-grid {
        grid-template-columns: 1fr 1fr;
    }
    #page-create-point form{
        margin-right: 0;
    }
    #page-create-point fieldset{
        margin-left: -10%;
    }
    #page-create-point form button {
        margin-left: -15%;
    }

}

@media (max-width: 430px) {
    #page-create-point div.items-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 200px;
    }
}

@media (min-height: 1210px) {
    #page-home {
        background-position-y: 500px;
    }
}